.page-footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #555;
  font-weight: bold;
  background-color: #E8E6E3;
  padding: 20px 20px 0;
}

.connected-true {
  color: green;
}

.connected-false {
  color: orange;
}
