.page-footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #555;
  font-weight: bold;
  background-color: #E8E6E3;
  padding: 20px 20px 0;
}

.connected-true {
  color: green;
}

.connected-false {
  color: orange;
}

.footer-text {
  margin: 5px 0;
}

.legend {
  display: flex;
}

.legend > div {
  flex: 1;
}

.legend-element {
  padding: 5px 8px;
  font-weight: normal;
}

.orange-square {
  height: 30px;
  width: 30px;
  background: orange;
}

.blue-square {
  height: 30px;
  width: 30px;
  background: blue;
  color: white;
}

.green-square {
  height: 30px;
  width: 30px;
  background: green;
  color: white;
}

@media only screen and (max-width: 600px) {
  .page-footer {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1199px) {
  .page-footer {
    font-size: 0.8rem;
  }
}
